<header>
    <a class="logo-link" target="_blank" href="https://github.com/CGWebDev2003">
      <div class="logo-box">
        <div class="logo">
          <i class="bi bi-currency-exchange"></i>
        </div>
        <span class="logo-text">LOGO</span>
      </div>
    </a>
  
    <nav>
      <a class="header-link" target="_blank" href="#">{{fromCurrency}}-{{toCurrency}} Details</a>
      <a class="header-link" target="_blank" href="#">{{fromCurrency}}-GBP Details </a>
    </nav>
  
    <button class="menu-button" id="menu-button" #menuButton (click)="openMenu()">
      <i class="bi bi-list"></i>
    </button>
  </header>
  
  <div class="sidebar" id="sidebar" #sidebar >
    <div class="sidebar-header">
      <span class="sidebar-title">Menu</span>
      <button class="close-button" id="close-button" #closeButton
       (click)="closeMenu()">
        <i class="bi bi-x-lg"></i>
      </button>
    </div>
  
    <a class="sidebar-link" target="_blank" href="#">EUR-USD Details</a>
    <a class="sidebar-link" target="_blank" href="#">EUR-GBP Details</a>

  </div>