<app-header>
</app-header>

<section class="container">
    <h1 class="title">Currency Exchanger</h1>

    <form  [formGroup]="exchangeForm" (submit)="onSubmit()">
        <div class="row row-calc">

            <div class="wrapper-amount form-control">
                <label for="amount">Amount</label>
                <input formControlName="amount" type="number"  id="amount" autocomplete="off" />
            </div>

            <div class="calc-form">

                <div class="form-control">
                    <label class="form-label" for="standard-select">Form</label>
                    <div class="select">
                        <select formControlName="from" name="format" id="format">

                            <option *ngFor="let currency of this.currencies  | keyvalue" [value]="currency.key">
                                <strong>{{currency.key}}</strong>: {{currency.value}}</option>

                        </select>
                    </div>
                </div>

            <button class="btn-revers btn-primary">
                <i class="bi bi-repeat"></i>
            </button>
                <div class="form-control">
                    <label class="form-label" for="standard-select">To</label>
                    <div class="select">
                        <select formControlName="to" name="format" id="format">
                            <option 
                            *ngFor="let currency of this.currencies | keyvalue" [value]="currency.key">
                                <strong>{{currency.key}}</strong>: {{currency.value}}</option>

                        </select>
                    </div>
                </div>
            </div>

        </div>
        <div class="row row-calc">

            <div class="wrapper-amount form-control">
                
            </div>

            <div class="calc-form">
                <button type="submit" class="form-submit">
                    Convert
                </button>
            </div>

        </div>

        



        <div class="row result-row">

            <div class="result">
                <p>{{AmountProp?.value}} <span>{{FromProp?.value}}</span> = {{fetchAllResult.EUR}} {{ToProp?.value}}</p>
            </div>
            <div class="currency-value">
                <p>5225.63 USD = 8336UE</p>
            </div>

            <button class="form-submit">
                Details
            </button>
        </div>
    </form>
</section>
<section class="container">
   
    <div class="parent">
        <div class="row">
            <div class="col" *ngFor="let currency of mostPopularCurrencies2 | keyvalue"> 
                {{AmountProp?.value}} {{FromProp?.value}} =   {{getObjKeyName(currency.value)}} : {{getObjValue(currency.value)}}
            </div>


        </div>

        </div>
</section>