<app-header 
[fromCurrency]="oneCurrency.from" 
[toCurrency]="oneCurrency.to"
[amount]="AmountProp?.value"

>

</app-header>
<section class="container">
    <h1 class="title">Currency Exchanger</h1>

    <form  [formGroup]="exchangeForm" (submit)="onSubmit()">
        <div class="row row-calc">

            <div class="wrapper-amount form-control">
                <label for="amount">Amount</label>
                <input step="any" min=1 formControlName="amount" type="number"  id="amount" autocomplete="off" />
            </div>

            <div class="calc-form">

                <div class="form-control">
                    <label class="form-label" for="standard-select">Form</label>
                    <div class="select">
                        <select formControlName="from" name="format" id="format">

                            <option *ngFor="let currency of  this.allCurrencies?.currencies | keyvalue" [value]="currency.key">
                                <strong>{{currency.key}}</strong>: {{currency.value}}</option>

                        </select>
                    </div>
                </div>

            <button (click)="swapValues()" class="btn-revers btn-primary">
                <i class="bi bi-repeat"></i>
            </button>
                <div class="form-control">
                    <label class="form-label" for="standard-select">To</label>
                    <div class="select">
                        <select formControlName="to" name="format" id="format">
                            <option 
                            *ngFor="let currency of this.allCurrencies?.currencies | keyvalue" [value]="currency.key">
                                <strong>{{currency.key}}</strong>: {{currency.value}}</option>

                        </select>
                    </div>
                </div>
            </div>

        </div>
        <div class="row row-calc">

            <div class="wrapper-amount form-control">
                
            </div>

            <div class="calc-form">
                <button [disabled]="exchangeForm.invalid" [class.disabled-btn]="exchangeForm.invalid" type="submit" class="form-submit">
                    Convert
                </button>
            </div>

        </div>

        



        <div class="row result-row">

            <div class="result">

                <p><span>1.00 </span>{{oneCurrency.from}} = {{oneCurrency.rate}} {{oneCurrency.to}}</p>
            </div>

            <div class="currency-value">
                <!-- here -->

                <h1>{{convertedCurrencyValue.convertedValue}} {{convertedCurrencyValue.convertedCurrency}} </h1> 
            </div>
            
            <a 
            [routerLink]="['/home/exchange-details', oneCurrency.from,oneCurrency.to,AmountProp?.value]"
              class="form-submit">
                Details
            </a>
        </div>
    </form>
</section>
<section class="container">
   
    <div class="card-wrapper">
        <div class="row">
            <div class="col" *ngFor="let currency of mostPopularCurrenciesList | keyvalue"> 
                1.00 {{oneCurrency.from}} =   {{getObjKeyName(currency.value)}} : {{getObjValue(currency.value)}}
            </div>
        </div>

        </div>
</section>