<app-header>
</app-header>

<section class="container">
    <h1 class="title">Currency Exchanger</h1>

    <form method="post">
        <div class="row row-calc">

            <div class="wrapper-amount form-control">
                <label for="amount">Amount</label>
                <input type="number" id="amount" autocomplete="off" />
            </div>

            <div class="calc-form">

                <div class="form-control">
                    <label class="form-label" for="standard-select">Form</label>
                    <div class="select">
                        <select name="format" id="format">
                            <option selected disabled>USD</option>
                            <option value="pdf">USD</option>
                            <option value="txt">EUR</option>
                            <option value="epub">EGP</option>
                        </select>
                    </div>
                </div>

            <button class="btn-revers btn-primary">
                <i class="bi bi-repeat"></i>
            </button>
                <div class="form-control">
                    <label class="form-label" for="standard-select">To</label>
                    <div class="select">
                        <select name="format" id="format">
                            <option selected disabled>EGP</option>
                            <option value="pdf">USD</option>
                            <option value="txt">EUR</option>
                            <option value="epub">EGP</option>

                        </select>
                    </div>
                </div>
            </div>

        </div>
        <div class="row row-calc">

            <div class="wrapper-amount form-control">
                
            </div>

            <div class="calc-form">
                <button class="form-submit">
                    Convert
                </button>
            </div>

        </div>

        



        <div class="row result-row">

            <div class="result">
                <p>5225.63 USD</p>
            </div>
            <div class="currency-value">
                <p>5225.63 USD = 8336UE</p>
            </div>

            <button class="form-submit">
                Details
            </button>
        </div>
    </form>
</section>
<section class="container">
   
    <div class="parent">
        <div class="row">
            <div class="col"> Peter</div>
            <div class="col">Peter </div>
            <div class="col"> Peter</div>
        </div>

        <div class="row">
            <div class="col"> Peter</div>
            <div class="col">Peter </div>
            <div class="col">Peter </div>
        </div>

        <div class="row">
            <div class="col"> Peter</div>
            <div class="col">Peter </div>
            <div class="col"> Peter</div>
        </div>
        </div>
</section>